<div class="contact-wrapper" id="contactme">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div>

      <div class="contact-header" fxLayout="column" fxLayoutAlign="space-between start">
        <h1>Contact Me</h1>
        <p>IF YOU WANT TO HIRE ME OR HAVE OTHER QUERIES, THEN KNOCK ME ANYTIME.</p>
      </div>

      <div class="contact-content" fxLayout="column" fxLayoutAlign="space-between start">

        <h3>mujammal.salman@gmail.com</h3>

        <div class="greeting-social-media" fxLayout="row" fxLayoutAlign="space-around center">

          <a style="color: black;" href="https://www.facebook.com/shawon.majid" target="_blank">
            <div class="icon fb">
              <div class="tooltip">Facebook</div>
              <span><i class="fab fa-facebook-f"></i></span>
            </div>
          </a>

          <a style="color: black;" href="https://twitter.com/shawon_majid" target="_blank">
            <div class="icon twitter">
              <div class="tooltip">Twitter</div>
              <span><i class="fab fa-twitter"></i></span>
            </div>
          </a>

          <a style="color: black;" href="https://www.gmail.com" target="_blank">
            <div class="icon gmail">
              <div class="tooltip">Gmail</div>
              <span><i class="fa-solid fa-envelope"></i></span>
            </div>
          </a>

          <a style="color: black;" href="https://www.instagram.com" target="_blank">
            <div class="icon instagram">
              <div class="tooltip">Instagram</div>
              <span><i class="fab fa-instagram"></i></span>
            </div>
          </a>

          <a style="color: black;" href="https://www.github.com/shawon-majid" target="_blank">
            <div class="icon github">
              <div class="tooltip">Github</div>
              <span><i class="fab fa-github"></i></span>
            </div>
          </a>

          <a style="color: black;" href="https://www.facebook.com/shawon.majid" target="_blank">
            <div class="icon linkedin">
              <div class="tooltip">Linkedin</div>
              <span><i class="fa-brands fa-linkedin-in"></i></span>
            </div>
          </a>

        </div>

      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between">

      <div>
        <mat-icon>message</mat-icon>
      </div>

    </div>

  </div>
</div>
