<div class="cp-wrapper" id="cp">

    <h1 class="cp-header">Problem Solving</h1>
    <p class="cp-paragraph">My Competitive Programming Journey</p>

    <div class="cp-cards">

      <div class="codeforces">
        <mat-card>

          <img src="assets/codeforces_logo.png">
          <p class="card-para">Highest Rating: 1389</p>
          <a class="card-a" routerLinkActive="active" routerLink="">shawonSWE</a>

        </mat-card>
      </div>

      <div class="codechef">
        <mat-card>

          <img src="assets/CodeChef.jpg">
          <p class="card-para">Highest Rating: 3*</p>
          <a class="card-a" routerLinkActive="active" routerLink="">shawonSWE</a>

        </mat-card>
      </div>

      <div class="cp">
        <mat-card>

          <img src="assets/codeforces_logo.png">
          <p class="card-para">1000+ Problems Solved</p>
          <a class="card-a" routerLinkActive="active" routerLink="">shawonSWE</a>

        </mat-card>
      </div>

    </div>

</div>
