<div class="cp-wrapper" id="provlemsolving" fxLayout="column">

    <h1 class="cp-header">Problem Solving</h1>
    <p class="cp-paragraph">My Competitive Programming Journey</p>

    <div class="cp-cards" fxLayout="row" fxLayoutAlign="space-between center">

        <mat-card class="mat-cards">

          <img src="assets/codeforces_logo.png">
          <p class="card-para">Highest Rating: 1389</p>
          <a class="card-a" routerLinkActive="active" routerLink="">dk23</a>

        </mat-card>

        <mat-card class="mat-cards">

          <img src="assets/CodeChef.jpg">
          <p class="card-para">Highest Rating: 3*</p>
          <a class="card-a" routerLinkActive="active" routerLink="">dk23</a>

        </mat-card>

        <mat-card class="mat-cards">

          <img src="assets/codeforces_logo.png">
          <p class="card-para">1000+ Problems Solved</p>
          <a class="card-a" routerLinkActive="active" routerLink="">dk23</a>

        </mat-card>

    </div>

</div>
