.cp-wrapper{
  background-color: #171c28;
  padding: 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;

  h1{
    padding: 20px;
    font-size: 40px;
  }

  p{
    padding: 20px;
    font-size: 20px;
  }
}

.cp-wrapper .cp-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img{
  width: 250px;
}

.mat-cards{
  width: 480px;
  height: 380px;
  background-color: #171c28;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;

  padding: 2.6rem;
  border-radius: 20px;
  border: 1px solid hsla(0,0%,82.7%,.397);

  /*transition: all ease 0.2s;
  box-shadow: 10px 10px 30px 15px black;*/

  box-shadow: 0 1px 10px #aba9af;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

mat-card:hover {
  box-shadow: 0 14px 28px #aba9af;
}


mat-card .card-para{
  font-size: 20px;
  color: white;
}

mat-card .card-a{
  text-decoration: none;
  font-size: 20px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
