<div class="cp-wrapper" id="provlemsolving" fxLayout="column" fxLayoutAlign="space-between start">

    <h1 class="cp-header">Problem Solving</h1>
    <p class="cp-paragraph">My Competitive Programming Journey</p>

    <div class="cp-cards" fxLayout="row" fxLayoutAlign="space-between center">

        <div class="card-one" fxLayout="row" fxLayoutAlign="center">
          <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between center">
            <img src="assets/codeforces_logo.png">
            <p class="card-para">Highest Rating: 1389</p>
            <a class="card-a" href="https://codeforces.com/profile/Dk23" target="_blank">Dk23</a>
          </mat-card>
        </div>

        <div class="card-one" fxLayout="row" fxLayoutAlign="center">
          <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between center">
            <img src="assets/CodeChef.jpg">
            <p class="card-para">Highest Rating: 3*</p>
            <a class="card-a" href="https://www.codechef.com/users/dk23" target="_blank">dk23</a>
          </mat-card>
        </div>

        <div class="card-one" fxLayout="row" fxLayoutAlign="center">
          <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between center">
            <img src="assets/codeforces_logo.png">
            <p class="card-para">1000+ Problems Solved</p>
            <a class="card-a" href="https://github.com/dkn1ght23/ProblemSolvingStats" target="_blank">link</a>
          </mat-card>
        </div>

    </div>

</div>
