<div class="greeting-wrapper" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="greeting-info">
      <div class="greeting-text">
        <h1>Hi, I'm Mujammal Ahmed</h1>
      </div>

      <div class="greeting-sub-text">
        <p>Studying Computer and Science Engineering at LU | Problem solver at Codeforces,
          Codechef, Hackerrank, LightOJ | 3* at Codechef | Pupil at Codeforces |</p>
      </div>

      <div class="greeting-social-media" fxLayout="row" fxLayoutAlign="space-between center">

        <a style="color: black;" href="https://www.facebook.com/shawon.majid" target="_blank">
          <div class="icon fb">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://twitter.com/shawon_majid" target="_blank">
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.gmail.com" target="_blank">
          <div class="icon gmail">
            <div class="tooltip">Gmail</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.instagram.com" target="_blank">
          <div class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.github.com/shawon-majid" target="_blank">
          <div class="icon github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.facebook.com/shawon.majid" target="_blank">
          <div class="icon linkedin">
            <div class="tooltip">Linkedin</div>
            <span><i class="fa-brands fa-linkedin-in"></i></span>
          </div>
        </a>
      </div>

    </div>

    <div class="greeting-dp">
      <div>
        <img class="dp-img" src="assets/intro-img.svg">
      </div>
    </div>
</div>
