<div class="greeting-wrapper" >
  <div fxLayout="row" fxLayoutAlign="center center">

    <div class="greeting-info" fxLayout="column" fxLayoutAlign="space-between center">
      <div>
        <h1 class="greeting-text">Hi, I'm Shawon Majid a.k.a. shawonSwe</h1>
      </div>

      <div>
        <p class="greeting-sub-text">Studying Software Engineering at SUST | Problem solver at Codeforces, Codechef, Hackerrank, LightOJ | 3* at Codechef | Pupil at Codeforces</p>
      </div>

      <div class="greeting-social-media" fxLayout="row" fxLayoutAlign="space-between center">

        <a style="color: black;" href="https://www.facebook.com/shawon.majid" target="_blank">
        <div class="icon fb">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
        </div>
        </a>

        <a style="color: black;" href="https://www.twitter.com" target="_blank">
          <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.gmail.com" target="_blank">
          <div class="icon gmail">
            <div class="tooltip">Gmail</div>
            <span><i class="fa-solid fa-envelope"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.instagram.com" target="_blank">
          <div class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </div>
        </a>

        <a style="color: black;" href="https://www.github.com/shawon-majid" target="_blank">
          <div class="icon github">
            <div class="tooltip">Github</div>
            <span><i class="fab fa-github"></i></span>
          </div>
        </a>


      </div>
    </div>

    <div class="greeting-dp">
      <div>
        <img src="assets/demo-dp.png">
      </div>
    </div>

  </div>
</div>
