<div id="skills" class="skill-wrapper" fxLayout="row" fxLayoutAlign="space-between center">

  <div class="skill-img">
    <div>
      <img class="skill-info-img" src="assets/skill-img.svg">
    </div>
  </div>

  <div class="skill-details">

    <div class="skill-info" fxLayout="column" fxLayoutAlign="space-between start">

      <div class="skill-info-h">
        <h1>Skills</h1>
      </div>

      <div class="skill-info-h">
        <h5>Worked with</h5>
      </div>

      <div class="skill-set" fxLayout="row" fxLayoutAlign="space-between start">

        <div class="icon c++">
          <i class="fab fa-cuttlefish"></i>
          <p>c/c++</p>
        </div>

        <div class="icon python">
          <i class="fa-brands fa-python"></i>
          <p>python</p>
        </div>

        <div class="icon java">
          <i class="fa-brands fa-java"></i>
          <p>java</p>
        </div>

        <div class="icon javascript">
          <i class="fa-brands fa-js"></i>
          <P>javascript</P>
        </div>

        <div class="icon git">
          <i class="fa-brands fa-git"></i>
          <p>git</p>
        </div>

        <div class="icon npm">
          <i class="fa-brands fa-npm"></i>
          <p>npm</p>
        </div>

        <div class="icon html">
          <i class="fa-brands fa-html5"></i>
          <p>html</p>
        </div>

        <div class="icon css">
          <i class="fa-brands fa-css3"></i>
          <p>css</p>
        </div>

        <div class="icon latex">
          <i class="fa-solid fa-lightbulb"></i>
          <p>latex</p>
        </div>

      </div>

      <div class="skill-pro">
        <P>Proficient in:</P>
        <ul>

          <li fxLayout="row" fxLayoutAlign=" start">
            <mat-icon> stars </mat-icon>
            <p>C/C++</p>
          </li>

          <li fxLayout="row" fxLayoutAlign=" start">
            <mat-icon> stars </mat-icon>
            <p>Algorithmic Problem Solving (solved 1000++ problems on various online platforms)</p>
          </li>

          <li fxLayout="row" fxLayoutAlign=" start">
            <mat-icon> stars </mat-icon>
            <p>Data Structures and Algorithms</p>
          </li>

          <li fxLayout="row" fxLayoutAlign=" start">
            <mat-icon> stars </mat-icon>
            <p>Competitive Programming</p>
          </li>

        </ul>
      </div>

    </div>

  </div>

</div>

