.skill-wrapper{
  color: white;
  background-color: #171c28;
  padding: 4%;
}

.skill-wrapper .skill-img{
  width: 100%;
  //border: 1px solid red;
}

.skill-wrapper .skill-img .skill-info-img{
  width: 100%;
  height: 100%;
}

.skill-wrapper .skill-details{
  width: 100%;
  padding: 30px;
  .skill-info-h{
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.skill-wrapper .skill-details .skill-info .skill-set{
  width: 100%;
  //border: solid red;
}

.skill-wrapper .skill-details .skill-info .skill-set .icon{
  text-align: center;
  margin: 15px;
}

.skill-wrapper .skill-details .skill-info .skill-set .icon:hover{
  color: gray;
}

.skill-wrapper .skill-details .skill-info .skill-set .icon i{
  font-size: 50px;
}

.skill-wrapper .skill-details .skill-info .skill-set .icon p{
  font-size: 15px;
}

.skill-wrapper .skill-details .skill-info .skill-pro {

  p{
    font-size: 30px;
  }

  ul > li{
    list-style: none;
    font-size: 15px;
    line-height: 2.0;

    mat-icon{
      margin-top: 18px;
      margin-right: 5px;
    }

  }
}
