<div class="education-wrapper" id="education">

  <h1 class="education-header">Education</h1>

  <div class="education-cards">

    <div class="card-one">

      <div class="bsc">

        <div class="bsc-img">
          <img class="bsc-img-1" src="assets/icons8-education-64.png">
        </div>

        <div class="bsc-details">
          <h5>Leading University</h5>
          <h6>Bachelor of Science in Computer and Science Engineering</h6>
          <p>2018-2022</p>
          <p>Sylhet, Bangladesh</p>
        </div>
      </div>

      <div class="bsc-divider"></div>

    </div>

    <div class="card-two" >

      <div class="hsc">

        <div class="hsc-img">
          <img class="bsc-img-1" src="assets/icons8-education-64.png">
        </div>

        <div class="hsc-details">
          <h5>Blue Bird School and College</h5>
          <h6>Higher Secondary</h6>
          <p>2015-2017</p>
          <p>Sylhet, Bangladesh</p>
        </div>
      </div>
    </div>

  </div>

</div>
