<div class="research-wrapper" id="research" >

  <h1 class="research-header">Research</h1>

  <div class="research-cards">

      <mat-card class="research-card-one" fxLayout="column" fxLayoutAlign="space-between center">

        <div class="card-one-img" fxLayout="column" fxLayoutAlign=" center">
          <img src="assets/thesis.png">
        </div>

        <div class="card-one-details" fxLayout="column" fxLayoutAlign="space-between center">
          <p class="header">Undergrad Thesis</p>
          <p class="title">A Novel Algorithm to Maximize Core Resilience of Networks under Random Edge and Node Deletions.</p>
        </div>

        <div class="card-one-link" fxLayout="column" fxLayoutAlign=" center">
          <a class="card-a" href="https://www.github.com" target="_blank">Thesis</a>
        </div>

      </mat-card>

  </div>

</div>
