<div class="project-wrapper" id="provlemsolving" >

  <h1 class="project-header">Problem Solving</h1>

  <div class="project-cards">

    <div class="project-one">

      <mat-card>

        <div class="project-name" >
          <mat-icon>library_books</mat-icon>
          <a class="card-a" href="https://www.github.com" target="_blank">Project A</a>
        </div>

        <div class="project-details">
          <mat-icon class="lan">circle</mat-icon>
          <p>C++</p>
          <mat-icon class="star">star</mat-icon>
          <p>0</p>
          <i class="fa-solid fa-code-fork"></i>
          <p>2</p>
        </div>

      </mat-card>

    </div>

  </div>

</div>
