<div class="project-wrapper" id="project" fxLayout="column" fxLayoutAlign="space-between start">

  <h1 class="project-header">Project</h1>

  <div class="project-cards" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="card-one" fxLayout="row" fxLayoutAlign="center">
      <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between start">
        <div class="project-name" >
          <mat-icon>library_books</mat-icon>
          <a class="card-a" href="https://www.github.com" target="_blank">Mentoro</a>
        </div>

        <div class="project-details" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="lan">circle</mat-icon>
          <p>C++</p>
          <mat-icon class="star">star</mat-icon>
          <p>0</p>
          <i class="fa-solid fa-code-fork"></i>
          <p>2</p>
        </div>
      </mat-card>
    </div>

    <div class="card-one" fxLayout="row" fxLayoutAlign="center">
      <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between start">
        <div class="project-name" >
          <mat-icon>library_books</mat-icon>
          <a class="card-a" href="https://github.com/dkn1ght23/Problem-Solving" target="_blank">Competitive Programming</a>
        </div>

        <div class="project-details" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="lan">circle</mat-icon>
          <p>C++</p>
          <mat-icon class="star">star</mat-icon>
          <p>0</p>
          <i class="fa-solid fa-code-fork"></i>
          <p>2</p>
        </div>
      </mat-card>
    </div>

    <div class="card-one" fxLayout="row" fxLayoutAlign="center">
      <mat-card class="mat-cards" fxLayout="column" fxLayoutAlign="space-between start">
        <div class="project-name" >
          <mat-icon>library_books</mat-icon>
          <a class="card-a" href="https://www.github.com" target="_blank">Project A</a>
        </div>

        <div class="project-details" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon class="lan">circle</mat-icon>
          <p>C++</p>
          <mat-icon class="star">star</mat-icon>
          <p>0</p>
          <i class="fa-solid fa-code-fork"></i>
          <p>2</p>
        </div>
      </mat-card>
    </div>

  </div>

</div>
