@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color: mat.define-palette(mat.$deep-purple-palette, 500);
$accent-color: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$warning-color: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warning-color
  )
));

*{
  padding: 0;
  margin: 0;
}

html{
  font-family: "Lato", "Open Sans";
  scroll-behavior: smooth;
}

body{
  width: 100%;
  font-size: 16px;
}
mat-form-field{
  width: 100%;
}

@include mat.all-component-themes($theme);

$typography-font-family: 'Roboto Mono';

$theme-typography: mat.define-typography-config(
  $font-family: $typography-font-family
);

@include mat.all-component-typographies($theme-typography);

* {
  font-family: $typography-font-family;
}

