.header-wrapper{
  background-color: #4B4453;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  padding: 5px 40px;
  margin: 0 auto;
}

.header-wrapper a,
.header-wrapper a:active,
.header-wrapper a:visited {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.header-wrapper .header-icon{
  font-size: 20px;
  .span-hover:hover{
    color: #DE463B;
  }

}
.header-wrapper .header-menu ul > li{
  list-style: none;
  display: list-item;
  float: left;
  font-size: 25px;
  transition: max-height .2s ease-out;
  a{
    color: white;
  }

}

.mat-divider{
  border-top-width: 1em;
  border-top-style: solid;
  background-color: #A1AAB1;
  width: 100%;
  //margin-top: 20px;
  //margin-left: 15%;
}


.header-wrapper .header-menu a {
  transition: all .5s ease;
  text-align: center;
  border-radius: 10px;

  //color: #fff;
  //border: 3px solid white;
  //font-family:'Montserrat', sans-serif;
  //text-transform: uppercase;
  //line-height: 1;
  //font-size: 17px;
  //background-color : transparent;
  //outline: none;
}
.header-wrapper .header-menu a:hover {
  background-color: #001F3F;
}
