<div>

  <div>

    <div class="header-wrapper">

      <div class="header-icon">
        <h1><a style="color: white" routerLinkActive="active" routerLink="">Port<span class="span-hover">Folio</span></a></h1>
      </div>

      <div class="header-menu">
        <ul>
          <li>
            <a href="#skills">Skills</a>
          </li>
          <li>
            <a href="#education">Education</a>
          </li>
          <li>
            <a href="#experiences">Experiences</a>
          </li>
          <li>
            <a href="#achievements">Achievements</a>
          </li>
          <li>
            <a href="#provlemsolving">Problem Solving</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="#contactme">Contact Me</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>

<app-root-intro></app-root-intro>
<app-root-skills></app-root-skills>
<app-root-education></app-root-education>
<app-root-cp></app-root-cp>
<app-root-project></app-root-project>
